@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --bg-color: #202124;
    --bg-color-highlight: #2a2c30;
    --bg-color-alt: #edf0f1;
    --text-color: #edf0f1;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2ch 1ch;
    color: var(--text-color);
}

a,
button {
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color);
}

div {
    color: var(--text-color);
    max-width: 80ch;
    margin: auto;
    padding: 1ch;
}

nav * {
    display: inline-block;
}

nav li {
    list-style: none;
    padding: 0 1ch;
}

nav a {
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

button,
nav>a {
    padding: 0.6ch 1.2ch;
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
    border-style: solid;
    border-width: 1px;
    border-color: var(--text-color);
    border-radius: 2ch;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover,
nav>a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: all 0.3s ease 0s;
}

input,
textarea {
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    border-radius: 4px;
    background-color: var(--bg-color-alt);
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 3rem;
}

textarea:focus,
input:focus {
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0.3vh 1vw;
}

tr:hover td,
tr:hover a,
tr:hover form {
    background-color: var(--bg-color-highlight);
}

td form {
    text-align: right;
}